<div #sliderRef1 class="keen-slider first">
  <div class="keen-slider__slide number-slide1">Slider 1</div>
  <div class="keen-slider__slide number-slide2 min-w-full max-w-full">
    <div #sliderRef2 class="keen-slider min-w-full max-w-full">
      <div class="keen-slider__slide number-slide1">Slider 2</div>
      <div class="keen-slider__slide number-slide2">Slider 2</div>
      <div class="keen-slider__slide number-slide3">Slider 2</div>
    </div>
  </div>
  <div class="keen-slider__slide number-slide3">
    <div #sliderRef3 class="keen-slider w-full" style="height: 200px">
      <div class="keen-slider__slide number-slide1">Slider 3</div>
      <div class="keen-slider__slide number-slide2">Slider 3</div>
      <div class="keen-slider__slide number-slide3">Slider 3</div>
    </div>
  </div>
  <div class="keen-slider__slide number-slide4">Slider 1</div>
</div>
