body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  max-width: 500px;
  right: 0;
  z-index: 7000;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.card__inner {
  color: #fff;
  height: 400px;
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  box-shadow: rgb(0 0 0 / 5%) 0px -20px 20px, rgb(0 0 0 / 10%) 0px -6px 6px,
    rgb(0 0 0 / 3%) 0px -30px 30px;
  background: #343434;
  border-radius: 10px 10px 0 0;
  overflow: visible;
  top: -90px;
}

.card__inner__scrolling {
  height: 100%;
  position: relative;
  padding: 0 20px;
}

.card__inner::after {
  content: " ";
  background: #343434;
  width: 100%;
  height: 100%;
  top: 99%;
  position: absolute;
  left: 0;
}

.indicatorWrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  left: 0;
  top: 0%;
  width: 100%;
  z-index: 100;
  position: absolute;

  min-height: 3px;
  max-height: 3px;
}

.indicator {
  height: 3px;
  width: 30px;
  background: #d8d8d8;
  border-radius: 0.3rem;
}

.keen-slider__slide {
  min-height: auto !important;
  overflow: visible;
}

.small {
  box-sizing: border-box;
  padding-top: 20px;
  height: 90px;
}

.medium {
  height: 90px;
}

.large {
  padding-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  font-size: 15px;
}
