{
  "presets": [
    ["@babel/preset-env", { "targets": { "browsers": ["chrome 68"] } }]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
