.zoom-out {
  perspective: 1000px;
  height: 300px;
}

.zoom-out__slide div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.zoom-out__slide img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
